html {
	-webkit-tap-highlight-color: transparent;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

a, input, button, textarea {
	&:focus {
		outline: none;
	}
}

ol, ul {
	list-style: none;
}

input, button, textarea {
	font: inherit;
}
